# Archivos del sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Temporal
*.log
*.tmp
node_modules/

# Archivos específicos (si tienes)
config.php
api/config/secrets.php
.env
.CLAUDE.md

#archivos de testing
api/test_connection.php